<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"></h3>
      </div>
 
      <div class="jumbotron">
        <h1></h1>
        <form action="" method="post">
        </br>
        <label for="OutScore" >Risk level: </label>
         {% if result %}
        <div id = "result">         
        <label for="OutScoreVal" name = "score">{{result}}</label>
        </div>
        {% endif %}  
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>