    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
  <head>
    <title>Insurance Consultancy</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/static/src/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/src/css/style.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.2.js"></script>

  </head>


<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
    <a href="/" class="w3-bar-item w3-button"><b>Insurance</b> Consultant</a>

    <div class="w3-right w3-hide-small">
      <a href="/#contact" class="w3-bar-item w3-button">Contact</a>

        <a href="/" class="w3-bar-item w3-button">Logout</a>
    </div>
  </div>
</div>


    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
          </ul>
        </nav>
      </div>
      <div class="jumbotron">

        {{temp}}


      </div>



      <footer class="footer">
        <p>&copy; SJSU Insurance Consultancy 2017</p>
      </footer>

    </div>
  </body>
</html></title>
</head>
<body>

</body>
</html>

